opencv-python
onnxruntime-gpu
scipy
matplotlib
transformers
diffusers 
accelerate 
huggingface_hub 
safetensors
flask
scenedetect
mss
omegaconf
addict
einops
pycolmap
gsplat
trimesh
imageio-ffmpeg
evo
hf_xet
